@model NCVM

@{ 
    ViewBag.Title = "Create Nurse";
}

<form enctype="multipart/form-data" asp-action="submitForm" asp-controller="Home" method="post" class="mt-3">

    <div class="form-group row" style="margin: 15px auto">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span><!--This span is used to display an error message when the user leaves the field empty-->

        </div>
    </div>

    <div class="form-group row" style="margin: 15px auto">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span><!--This span is used to display an error message when the user leaves the field empty-->

        </div>
    </div>

    <div class="form-group row" style="margin: 15px auto">
        <label asp-for="Section" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="Section" class="form-control"
                    asp-items="Html.GetEnumSelectList<SectionEnum>()">
                <option value="">Please Select a Section</option><!--Default non-valid option used to tell the user to select a valid option-->
            </select>
            <span asp-validation-for="Section" class="text-danger"></span><!--This span is used to display an error message when the user leaves the field empty-->
        </div>
    </div>

    <div class="form-group row" style="margin: 15px auto">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Photo" class="form-control custom-file-input" placeholder="Photo">
                <span asp-validation-for="Photo" class="text-danger"></span><!--This span is used to display an error message when the user leaves the field empty-->
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
   

    @section imageTitle
    {
        <script>

            //The purpose of this script is to display the name of the image in the upload element
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });

        </script>

    }


</form>