@model IEnumerable<Nurse>

@{
    ViewBag.Title = "Nurse List";
}





<div class="container">
    <div class="row">
        @foreach (var n in Model)
        {
           
            string Path = "~/images/" + (n.Photo ?? "DefaultNurse3.jpg");
                <div class="card m-3" style="min-width:18rem; max-width:30.5%; padding:0px">

                    <div class="card-header">
                        <h3>@n.Name</h3>
                    </div>
                    <img class="card-img-top" src="@Path" asp-append-version="true" />
                    <div class="card-footer text-center">
                        <a asp-controller="Home" asp-action="NurseDetails" asp-route-id="@n.ID" class="btn btn-primary">View</a>
                        <a asp-controller="Home" asp-action="Edit" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>

                </div>
        }

        </div>
</div>

